<!DOCTYPE html>
<html>
<head>
    <title>
<h2>Registro de Cliente</h2>
    </title>
</head>
<body>
    <center>

        <h2>Registro de Cliente</h2>

    </center>
    
    <div align="center">
    
        <form action="/register2" method="post">
                <label >Nombre: </label>
                <input type="text"  name="name" value="Lalo" /><br><br>
                <label >RFC: </label>
                <input type="text"  name="rfc" /><br><br>
                <label >Ciudad </label>
                <input type="text"  name="city" /><br><br>
                <label >Dirección </label>
                <input type="text"  name="dire" /><br><br>
                <input type="submit"  name="submit" value="Enviar" />
              
        </form>  
    </div>
</body>
</html>