<!DOCTYPE html>
<html>
<head>
</head>
<body>
<center><h2>Registrar Productos </h2></center>

<div align="center">
    <form action="/register" method="POST">
        <label for="name">Nombre: </label>
        <input type="text" name="name" value= "" /><br><br>
        <label for="descp">Descripcion: </label>
        <input type="text"  name="descrip" /><br><br>
        <label for="cantidad">Cantidad </label>
        <input type="int"  name="cant" /><br><br>
        <input type="submit"  name="submit" value="Enviar" />
</div>    
</form>
</body>
</html>